body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(30, 46, 70);
}

nav {
    width: 960px;
    margin: auto auto;
    overflow: hidden;
    height: 200px;
}

#nav-title {
    float: left;
    padding-top: 30px;
    margin-left: 10px;
    width: 175px;
    border-top: 6px solid rgb(82, 129, 129);
}

#nav-title a {
    text-decoration: none;
    color: white;
    font-size: 48px;
}

#nav-title a:hover {
    color: rgb(59, 124, 108);
}

#nav-navigation {
    float: right;
    margin: 0px;
    margin-top: 30px;
}

#nav-navigation h2 {
    text-align: right;
    margin-right: 10px;
    color: rgb(59, 124, 108);
}

#nav-navigation ul {
    list-style-type: none;
}

#nav-navigation li {
    float: left;
}

#nav-navigation li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

#nav-navigation ul a:hover {
    color: rgb(59, 124, 108);
}

#intro {
    width: 960px;
    text-align: center;
    margin: 40px auto;
    padding-bottom: 50px;
}

#intro h1 {
    color: rgb(59, 124, 108);
    margin: 0px;
    font-size: 36px;
}

#intro h2 {
    color: white;
    margin: 5px auto;
    margin-bottom: 70px;
    width: 800px;
    line-height: 1.7;
}

#intro a {
    color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
}

#intro a:hover {
    background-color: white;
    color: rgb(59, 124, 108);
}

#content {
    width: 960px;
    margin: auto auto;
    overflow: hidden;
    padding-bottom: 40px;
}

article {
    width: 300px;
    float: left;
    margin: 10px;
}

article h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

article h2 {
    font-size: 24px;
    margin: 10px 0px;
}

article p {
    margin: 15px 0px;
    line-height: 1.4;
    
}

.picture {
    height: 200px;
    width: 280px;
    border-radius: 10px;
}

footer {
    background-color: rgb(30, 46, 70);
    width: 100%;
    overflow: hidden;
}

#footer-main {
    width: 960px;
    margin: auto auto;
    border: 1px solid black;
}

#footer-copyright {
    float: left;
    color: white;
    margin-left: 10px;
}

#footer-nav ul {
    float: right;
}

#footer-nav li {
    list-style-type: none;
    display: inline;
}

#footer-nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#footer-nav a:hover {
    color: rgb(59, 124, 108);
}